
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.site-header nav a {
  text-decoration: none;
  color: green;
  padding: 0 10px;
}

.center-text {
  flex-grow: 1;
  text-align: center;
  color: green;
}

.left-links {
  flex-grow: 1;
}

.right-links {
  flex-grow: 1;
  text-align: right;
}

.carousel{
  display: flex;
  padding-top: 10px;
  height: 40em;
}

.picture {
  display: none;
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%;  /* Скрыть все слайды по умолчанию */
  justify-content: space-around;
  padding-top: 200px;
  position:absolute;
}


.picture.active { /* Показываем активный слайд */
  display: flex;
  position: relative;
  background-size: cover;
}

.txt1 {
  font-size: 2em;
  color: white;
}

.button1 {
  background-color: #dcf900;
  width: 200px;       
  height: 50px;     
  text-align: center;  
  line-height: 50px;   
  border: none;       
  cursor: pointer;
  font-size: 20px;
  text-wrap: no;
}

.carousel-controls {
  position:absolute;
  align-self: flex-end;
  right: 10px;
  padding-bottom: 10px;
}

.control {
  width: 1em;
  height: 1em;
  border: 2px solid white;
  background-color: transparent;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.control.active {
  background-color: white;
}

.poloska{
  height: 3px;
  background-color: #285e2d; 
  margin: 1em 5em; 
}

.txt2{
  color: #285e2d;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 25em;
  word-wrap: break-word; 
  margin: 5em auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  padding: 1em;
}

.image-container {
  position: relative;
  width: calc(50% - 1em); 
  margin: 0 0.5em 1em 0.5em; 
  text-align: center; 
}

.text-overlay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white; 
  width: 80%;
  text-align: center;
}

.text-overlay.title {
  top: 5%; 
  font-size:3em;
}

.text-overlay.description {
  top: 13%; 
  font-size:2em;
}

.image-container img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: -4px; 
}

.image-container div {
  position: absolute; 
  top: 10%; 
  left: 50%; 
  transform: translateX(-50%); 
  color: white; 
  width: 80%; 
  text-align: center; 
} 

.image-container button {
  height: 5em;
  width: 100%; 
  padding: 10px 0; 
  border: none;
  background-color: #dcf900;
  color: #000; 
  border-radius: 0; 
  cursor: pointer; 
  font-size: 20px;
}


.content-container2 {
  margin-top: 3em;
  display: flex;
  width: 100%;
}

.image-side2 {
  flex: 1;
  padding-left: 10px; 
}

.image-side2 img {
  width: calc(100% - 10px); 
  height: auto;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.text-side2 {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.text-middle2 {
  margin-top:5em; 
  font-size: 3em;
  color: #285e2d; 
  text-align: center; 
}

.text-bottom-left2 {
  color: #285e2d; 
  text-decoration: none;
  align-self: flex-start; 
  margin-top: auto; 
  padding: 10px 0; 
}

.signup-link2 {
  color: #285e2d; 
  text-decoration: none;
  font-weight: bold; 
}

@media (max-width: 768px) {
  .content-container2 {
    flex-direction: column;
  }

  .image-side2, .text-side2 {
    width: 100%;
  }

  .image-side2 img {
    width: 100%;
  }

  .text-side2 {
    align-items: flex-start; 
  }
}


.content-container3 {
  margin-top: 3em;
  display: flex;
  width: 100%;
}

.text-side3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left; 
  padding: 20px;
}

.text-middle3 {
  font-size: 3em;
  color: #285e2d;
  text-align: left; 
}

.text-bottom-left3 {
  align-self: flex-start;
  color: #285e2d;
  text-decoration: none; 
  margin-top: auto; 
  padding: 10px 0; 
}

.signup-link3 {
  color: #285e2d; 
  text-decoration: none; 
  font-weight: bold;
}

.image-side3 {
  flex: 1;
  padding-left: 10px; 
}

.image-side3 img {
  width: calc(100% - 10px); 
  height: auto;
  display: block; 
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (max-width: 768px) {
  .content-container3 {
    flex-direction: column;
  }

  .text-side3, .image-side3 {
    width: 100%;
  }

  .text-side3 {
    order: 1; 
  }

  .image-side3 {
    order: 2; 
    padding-left: 0;
  }

  .image-side3 img {
    width: 100%; 
  }
}

.content-container4 {
  margin-top: 3em;
  display: flex;
  width: 100%;
}

.image-side4 {
  flex: 1;
  padding-left: 10px;
}

.image-side4 img {
  width: calc(100% - 10px); 
  height: auto;
  display: block; 
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.text-side4 {
  flex: 0 0 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left; 
}

.text-middle4 {
  font-size: 3em;
  color: #285e2d; 
  text-align: left;
}

.text-bottom-left4 {
  color: #285e2d;
  text-decoration: none; 
  align-self: flex-start; 
  margin-top: auto; 
  padding: 10px 0;
}

.signup-link4 {
  color: #285e2d; 
  text-decoration: none; 
  font-weight: bold; 

@media (max-width: 768px) {
  .content-container4 {
    flex-direction: column;
  }

  .image-side4, .text-side4 {
    width: 100%;
  }

  .image-side4 img {
    width: 100%; 
  }

  .text-side4 {
    align-items: flex-start; 
  }
}

.carousel-container {
  text-align: center; 
  max-width: 800px; 
  margin: auto;
  position: relative;
}

.quote-source {
  color: #008080; 
  font-size: 2em;
  margin-bottom: 0.5em; 
}

blockquote {
  font-size: 3em; 
  color: #285e2d; 
  margin-bottom: 3em; 
}

.all-press-link {
  color: #285e2d; 
  text-decoration: none; 
  position: absolute; 
  left: 0; 
  bottom: 0; 
  padding: 10px; 
  font-size: 2em;
  margin-left: -15em;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px; 
  background-color: #bbb; 
  margin: 0 5px; 
}

.indicator.active {
  background-color: #008080; 
}

.txt-aquarel{
  font-size: 3em;
  color: #285e2d;
  text-align: center;
  margin-top: 3em;
  width: 12em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}



.hero-section {
  background-image: url('img/Rectangle8.png');
  background-size: cover;
  background-position: center;
  text-align: left;
  padding: 100px; 
  color: #285e2d; 
  height: 10em;
  font-size: 20px;
}

.hero-text {
  margin-top: 100px;
  max-width: 600px; 
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 2em;
  font-weight: bold; 
  margin-bottom: 20px; 
}

.emphasis {
  color: #285e2d; 
}

.shop-button {
  display: inline-block; 
  padding: 10px 20px;
  border: 2px solid #285e2d; 
  text-decoration: none; 
  color: #285e2d; 
  background-color: transparent; 
  font-size: 1em; 
}

@media (max-width: 768px) {
  .hero-section {
    padding: 50px; 
  }

  .hero-text {
    max-width: 100%; 
  }

  h1 {
    font-size: 1.5em; 
  }

  .shop-button {
    padding: 8px 16px; 
  }
}


.footer-container {
  color: #285e2d;
  display: flex;
  justify-content: space-between;
  padding: 20px; 
  font-family: Arial, sans-serif; 
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none; 
  padding: 0; 
}

.footer-section ul li a {
  color: #285e2d; 
  text-decoration: none;
  font-size: 0.9em;
}
